html {
    background-color: black;
    background-image: url(/projects/courses/102/Lab-5/images/download.png) !important;
    margin: 20px;
    font-size: 24px;

}
h1 {
    color: #FFE81F;
    text-align: center;
}

main {
    border: 5px solid white;
}

header {
    border: 5px solid white;
}

footer {
    border: 5px solid white;
}

img {
   float: right;
}

#List {
    text-align: left;
}

#Caption {
    float: left;
}